.smartTable {
    display: flex;
    flex-flow: column;
    .controls {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 40px;
    }
    .exportExcel {
        margin-right: auto;
        margin-left: 5px;
        button {
            height: 32px !important;
            border-radius: 5px;
            font-size: 14px;
        }
    }

    // table styling //
    table {
        border-collapse: separate;
        border-spacing: 0;
        tr {
            th,
            td {
                padding: 10px 20px;
                border: 1px solid #ddd;
                border-width: 1px 0;
            }
            td {
                background-color: white;
            }
            th {
                background-color: #efefef;
                border-bottom-width: 0;
                cursor: pointer;
            }

            // first table row styles
            &:first-child td {
                border-top: none;
            }

            // "except last" table row styles
            &:not(:last-child) td {
                border-bottom-width: 0;
            }

            // first and last col styles
            td,
            th {
                &:first-child {
                    border-left-width: 1px;
                }
                &:last-child {
                    border-right-width: 1px;
                }
            }
        }
    }
    // header row styling
    table tr:first-child th:first-child {
        border-top-left-radius: 10px;
    }

    table tr:first-child th:last-child {
        border-top-right-radius: 10px;
    }
}
