.smartTable {
    display: flex;
    flex-flow: column;
    .controls {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 40px;
    }
    .exportExcel {
        margin-right: auto;
        margin-left: 5px;
        button {
            height: 32px !important;
            border-radius: 5px;
            font-size: 14px;
        }
    }
    table {
        border: 1px solid #ddd;
        tr {
            th,
            td {
                padding: 8px;
                border: 1px solid #ddd;
            }
            td {
                background-color: white;
            }
            th {
                background-color: #efefef;
                border-bottom-width: 2px;
                cursor: pointer;
            }
        }
    }
}
