@import "../../../assets/styles/colors.scss";

.entityTable {
  position: relative;
  .header {
    display: flex;
    flex-flow: column;

    a {
      position: absolute;
      // right: 0;
    }

    h1 {
      margin: 0 auto;
      max-width: 660px;
      text-align: center;
    }
    h1 > a {
      text-decoration: none;
      color: black;
    }
    .upper,
    .lower {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
    }
    .lower {
      align-items: flex-end;
    }
  }
  .tabs {
    display: flex;
    flex-flow: row;
    z-index: 999;
    margin-top: 20px;
    button {
      background-color: rgb(248, 248, 248);
      font-family: "Raleway", sans-serif;
      font-size: 1.2em;
      bottom: -1px;
      border-bottom: none;
      position: relative;
      padding: 10px;
      border-radius: $border-radius $border-radius 0 0;
      border-color: #ccc;
      border-width: 1px;

      &:not(.selected) {
        background-color: transparent;
        border: none;
        color: darkgray;
        &:hover {
          background-color: rgba(211, 211, 211, 0.15);
          color: #333;
        }
      }
      &.selected {
        font-weight: bold;
        color: #333;
      }
    }
  }

  .content {
    display: flex;
    flex-flow: column;
    z-index: 998;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgb(248, 248, 248);
  }
}
