@import "../../../assets/styles/colors.scss";

.entityTable {
  .header {
    display: flex;
    flex-flow: column;
    .upper,
    .lower {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  .tabs {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
}
