@import "../../../assets/styles/colors.scss";

.button {
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: $border-radius;
  color: #333;

  span[class^="glyphicon"] {
    margin-right: 10px;
  }

  &.dark {
    background-color: $dark-background-color !important;
    &:hover,
    &:active {
      background-color: lighten($dark-background-color, 10%) !important;
    }
  }

  &.close {
    cursor: pointer;
    background-color: #e6e6e6 !important;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    border: none;
    img {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
    }
  }
  &.closeBadge {
    cursor: pointer;
    background-color: white !important;
    width: 16px;
    height: 16px;
    border-radius: 9999px;
    position: relative;
    border: none;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    img {
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      position: absolute;
      top: 3px;
      left: 3px;
    }

    &:hover {
      background-color: darken(white, 10%) !important;
    }
  }
  &.secondary {
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    &:hover {
      background-color: darken(#e6e6e6, 10%);
    }
  }
  &.primary {
    border: 2px solid #023f88;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: $primary-dark-blue;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    &:hover {
      background-color: #f4f4f4;
    }
    &:active {
      box-shadow: 5px 5px 15px 0 #b3b3b3;
      -webkit-box-shadow: 5px 5px 15px 0 #b3b3b3;
    }
    background: linear-gradient(
      180deg,
      rgba(2, 63, 136, 0.85) 0%,
      #023f88 100%
    );
    color: white;
    &:hover {
      background: white;
      color: $primary-dark-blue;
    }
    cursor: pointer;
  }
  &:not(.close) {
    img {
      margin-right: 10px;
    }
  }
}
.link {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
