@import "../../../assets/styles/colors.scss";

.button {
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: $border-radius;
  color: #333;

  span[class^="glyphicon"] {
    margin-right: 10px;
  }

  &.dark {
    background-color: #222 !important;
    &:hover,
    &:active {
      background-color: #333 !important;
    }
  }

  &.close {
    cursor: pointer;
    background-color: #e6e6e6 !important;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    border: none;
    img {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
    }
  }
  &.closeBadge {
    cursor: pointer;
    background-color: white !important;
    width: 16px;
    height: 16px;
    border-radius: 9999px;
    position: relative;
    border: none;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    img {
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      position: absolute;
      top: 3px;
      left: 3px;
    }

    &:hover {
      background-color: darken(white, 10%) !important;
    }
  }
  &.secondary {
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    &:hover {
      background-color: darken(#e6e6e6, 10%);
    }
  }
  &.primary {
    border: 2px solid transparent;

    padding: 5px 10px;
    min-height: 35px;

    // background-color: #425379;
    background: -moz-linear-gradient(top, #425379 0%, #213561 100%);
    background: -ms-linear-gradient(top, #425379 0%, #213561 100%);
    background: -o-linear-gradient(top, #425379 0%, #213561 100%);
    background: -webkit-linear-gradient(top, #425379 0%, #213561 100%);
    color: white;

    &:hover {
      background: none;
      color: #213561;
      border: 2px solid #213561;
    }

    &:active {
      font-weight: 400;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
  }
  &:not(.close) {
    img {
      margin-right: 10px;
    }
  }
}
.link {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
