@import "../../../assets/styles/colors.scss";

.explore {
  .header {
    display: flex;
    flex-flow: column;
    .controls {
      display: flex;
      flex-flow: row;
      .tabs {
        display: flex;
        flex-flow: row;
      }
      .buttons {
        display: flex;
        flex-flow: row;
        margin-left: auto;
      }
    }
  }
}
