@import "../../../assets/styles/colors.scss";

.explore {
  // min-height: 80vh;
  min-height: 81vh !important;

  padding-bottom: 0 !important;
  .header {
    @include header;
    justify-content: flex-start;
    align-items: flex-start;

    .title {
      @include title;
    }
    span {
      font-size: 16px !important;
    }
  }

  .darkToggle {
    display: flex;
    flex-flow: row;
    position: relative;
    justify-content: center;
    > span {
      margin-right: 0;
    }
    > * {
      position: relative;
    }
    > div {
      position: absolute;
      top: 2px;
      pointer-events: none;
      &:not(.dark) {
        left: 15%;
      }
      &.dark {
        right: 10%;
      }
    }
  }
  .header {
    display: flex;
    flex-flow: column;
    > span {
      font-style: italic;
      font-size: 1.2em;
    }
    .controls {
      display: flex;
      flex-flow: row;
      float: right;
      margin-left: auto;
      .tabs {
        display: flex;
        flex-flow: row;
      }
      .buttons {
        display: flex;
        flex-flow: row;
        margin-left: auto;
        align-items: center;
        > :not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
  .content {
    height: 100%;
  }
}
