@import "../../../assets/styles/colors.scss";

.explore {
  // &.dark {
  //   background-color: #222222;
  //   color: #eeeeee;
  // }
  .darkToggle {
    display: flex;
    flex-flow: row;
    position: relative;
    justify-content: center;
    > * {
      position: relative;
    }
    > div {
      position: absolute;
      top: 2px;
      pointer-events: none;
      &:not(.dark) {
        left: 15%;
      }
      &.dark {
        right: 15%;
      }
    }
  }
  .header {
    display: flex;
    flex-flow: column;
    > span {
      font-style: italic;
      font-size: 1.2em;
    }
    .controls {
      display: flex;
      flex-flow: row;
      .tabs {
        display: flex;
        flex-flow: row;
      }
      .buttons {
        display: flex;
        flex-flow: row;
        margin-left: auto;
        align-items: center;
        > :not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
