@import "../../../../../assets/styles/colors.scss";
.mapViewer {
  .hide {
    display: none;
  }
  .header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    .labels {
      font-family: "Raleway", serif;
      div:first-child {
        font-weight: 600;
      }
      div:nth-child(2) {
        font-weight: normal;
      }
    }
  }
  .content {
    position: relative;
    .menu {
      position: absolute;
      border: 1px solid #ccc;
      top: 0;
      right: 10px;
      background-color: white;
      opacity: 0.95;
    }
  }
}
