@import "../../../../../assets/styles/colors.scss";
.mapViewer {
  .hide {
    display: none;
  }
  .header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    .labels {
      font-family: "Raleway", serif;
      div:first-child {
        font-weight: 600;
      }
      div:nth-child(2) {
        font-weight: normal;
      }
    }
  }
  .content {
    position: relative;
    .menuContainer {
      display: flex;
      flex-flow: column;
      align-items: center;

      position: absolute;
      bottom: 0;
      right: 0;
      width: 25%;

      .menu {
        font-size: 14px;
        background-color: white;
        opacity: 0.95;
        border: 1px solid #ccc;
        width: 100%;

        > div:first-child {
          padding: 10px;
        }

        > div:nth-child(2) {
          border-bottom: 1px solid #ccc;
        }

        button.tabToggle {
          background-color: white;
          border-bottom: none;
          position: relative;
          bottom: -1px;
          padding: 5px 15px;
          &:first-child {
            border-left: none;
          }
          &:not(.selected) {
            background-color: transparent;
          }
          &.selected {
            font-weight: 600;
          }
          &:not(:first-child):not(:last-child) {
            margin: 0 5px;
          }
        }

        .tabSectionHeader {
          font-family: "Raleway", serif;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.2em;
        }

        .tabContent {
          display: flex;
          flex-flow: column;
          width: 100%;

          .italic {
            font-weight: normal;
            font-style: italic;
          }

          .section {
            display: flex;
            flex-flow: column;
            padding: 10px;
            margin: 0 10px;
            &:first-child {
              border-bottom: none;
              margin-top: 0;
            }
            &:last-child {
              // margin-bottom: 0;
            }
            &:not(:first-child):not(:last-child) {
              border-bottom: none;
            }
            &:not(:first-child) {
              border-top: 1px solid #ccc;
            }

            .sectionTitle {
              font-weight: 600;
              margin-bottom: 10px;
            }

            .subSections {
              display: flex;
              flex-flow: row;
              .subSection {
                display: flex;
                flex-flow: column;
                &:not(:last-child) {
                  padding-right: 10px;
                  margin-right: 10px;
                  border-right: 1px solid #ccc;
                }
              }
            }
          }
        }
      }
    }
  }

  // DARK MODE SETTINGS
  &.dark {
    height: auto;
    .content {
      .menu {
        background-color: #222;
        button.tabToggle {
          background-color: #222 !important;
          &:not(.selected) {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}
