@import "../../../assets/styles/colors.scss";

.analysis {
  .header {
    @include header;
    .title {
      @include title;
    }
  }
  .subtitle {
    @include subtitle;
  }
  p {
    max-width: 900px;
  }
  .info {
    height: auto;
    border: 1px solid #ccc;
    width: 100%;

    .header {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 20px;
      padding: 10px;
      color: white;
    }
    .contentInfo {
      display: flex;
      flex-flow: column;
      padding: 10px;

      .row {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin: 10px 0;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .metric {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        margin-right: 10px;
        font-size: 20px;

        div:first-child {
          font-family: "rawline", serif;
          margin-bottom: 10px;
          line-height: 1;
        }
        div:last-child {
          font-size: 0.7em;
        }
      }
    }
  }
  .menuContainer {
    width: 100%;
    display: flex;
    flex-flow: column;

    .menu {
      border: 1px solid #ccc;
      padding: 20px;
      width: 100%;
      > div {
        margin: 20px 0;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-flow: column;
    .chordDiagram {
      display: flex;
      flex-flow: row;
    }
    .tables {
      display: flex;
      flex-flow: row;
      > div {
        margin: 0 10px;
        width: 100%;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
