@import "../../../assets/styles/colors.scss";

.analysis {
  .info {
    height: auto;
    border: 1px solid #ccc;
  }
  .content {
    display: flex;
    flex-flow: column;
    .chordDiagram {
      display: flex;
      flex-flow: row;
    }
    .tables {
      display: flex;
      flex-flow: row;
    }
  }
}
