{
  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
    "React": true
  },

  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": ["react"]
}
