@import "../../../assets/styles/colors.scss";
.scoreBlocks {
  height: auto;
  display: flex;
  flex-flow: row;
  align-items: center;

  > div {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  font-family: "Rawline", serif;
  font-weight: 600;
  .value {
    display: flex;
  }
  .blocks {
    display: flex;
    flex-flow: row;
    align-items: center;
    $size: 20px;

    .block {
      width: $size * 2;
      height: $size;
      margin-right: 2px;
      background-color: rgb(232, 232, 232);
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      color: white;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
