@import "../../../assets/styles/colors.scss";

.home {
    font-size: 16px;
    min-height: 85vh;
    @include spaceChildrenVert(50px);

    > h1,
    .introduction {
        text-align: center;
    }

    > h1:first-of-type {
        font-family: "rawline", serif;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .introduction {
        font-size: 2rem;
        p:first-child {
            margin-bottom: 10px;
        }
        em {
            font-size: 1.6rem;
            font-style: italic;
            color: $outbreak-gray-1;
            font-weight: 400d;
        }
    }

    .entryCards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 50px;
        > div:nth-child(2n + 2) > div {
            grid-template-columns: 92px 1fr;
            > div:first-child {
                text-align: right;
            }
        }
    }
}
