@import "../../../assets/styles/colors.scss";

.home {
  display: grid;
  grid-template-columns: 33% 66%;
  grid-template-rows: 100%;
  padding: 0 !important;

  .title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: #11315d;
    font-family: "Raleway", sans-serif;
  }

  .buttons {
    display: flex;
    flex-flow: row;
    > * {
      margin-right: 10px;
    }
    button {
      padding: 10px 20px;
    }
  }

  .rightPane {
    background-color: #f2f2f2;
    padding: 40px;
    height: 100%;
    .content {
      height: 100%;
    }
    .map {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      img {
        width: 100%;
        margin: auto;
      }
    }
  }

  > div {
    display: flex;
    flex-flow: column;
  }
  height: 100%;

  > div:first-child {
    display: flex;
    flex-flow: column;
    // justify-content: space-between;
    min-height: 80vh;
    height: 100%;
    margin-right: 20px;

    > div:first-child {
      .welcomeText {
        margin: 40px 0 20px;
        font-weight: 600;
        line-height: 35px;
        font-size: 32px;
        text-transform: uppercase;
        color: #11315d;
        &.dark {
          color: white;
        }
        font-family: "Raleway", sans-serif;
      }
      .welcomeDesc {
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        color: #4d4d4d;
        &.dark {
          color: #eee;
        }
      }
    }

    .searchContainer {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      margin-top: 40px;
      .content {
        > div,
        a {
          margin: 10px 0;
        }
      }
    }
  }
}
