@import "src/assets/styles/colors.scss";
.legendContent {
  flex-flow: column;
  align-items: center;
  position: relative;
  opacity: 0.95;
  font-size: 1.4rem;
  > div:first-child {
    margin-bottom: 10px;
    text-align: center;
  }
}
