@import "../../../assets/styles/colors.scss";

.exportTable {
  height: auto;
  .row {
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  .none {
    color: $gray-2;
    font-style: italic;
  }
}
