@import "../../../assets/styles/colors.scss";

.about {
  min-height: $min-content-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  .aboutContainer {
    max-width: 700px;
    margin-bottom: 80px;
  }
  .header {
    @include header;
    .title {
      @include title;
    }
    margin-bottom: 0px;
  }
  .description {
    // max-width: unset;
    font-size: 16px;
    p {
      margin: 0 0 20px;
    }
    .citation {
      margin-left: 40px;
      font-style: italic;
    }
  }
  button {
    margin: 20px 0;
  }

  table {
    font-size: 16px;
    color: #333;
  }
  hr {
    border-color: #ccc;
  }

  table {
    margin-top: 50px;
    tr {
      height: 50px;
    }
    tr:first-child {
      font-weight: 600;
      background: $primary-dark-blue;
      color: white;
    }
    tr:not(:first-child) {
      border-bottom: 1px solid $primary-dark-blue;
      &:nth-child(odd) {
        background: #f5f5f5;
      }
    }
    td {
      min-width: 200px;
      padding: 5px;
      &.banded {
        background: #f5f5f5;
      }
    }
    &.submitForm {
      td {
        background-color: white;
        color: black;
      }
      tr {
        border: none;
      }
    }
  }
  form {
    display: none;
  }
  .success,
  .error {
    font-weight: bold;
  }
  .success {
    color: $value-green;
  }
  .error {
    color: $value-red;
  }
}
