@import "../../../assets/styles/colors.scss";

.about {
  min-height: $min-content-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  .aboutContainer {
    max-width: 700px;
    margin-bottom: 80px;
  }
  .header {
    @include header;
    flex-flow: column;
    align-items: unset;
    .title {
      @include title;
    }
    margin-bottom: 0px;
    .accessibility {
      position: relative;
      background-color: #fffae0aa;
      border: 1px solid #f9efc2;
      padding: 1rem;
      border-radius: 5px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      line-height: 1.8rem;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 1.5em;
      &:before {
        position: relative;
        // top: 2px;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19.96'%3E%3Cpath d='M19.89 18.51l-9-18c-.34-.68-1.45-.68-1.79 0l-9 18c-.15.31-.14.68.04.97.18.29.5.47.85.47h18c.35 0 .67-.18.85-.47.19-.29.21-.66.05-.97zM9 7.96h2v6H9v-6zm1 9.25a1.25 1.25 0 110-2.5 1.25 1.25 0 010 2.5z' fill='%23FDAB15'/%3E%3C/svg%3E");
        display: inline-block;
        width: 23px;
        height: 23px;
        content: "";
        margin-right: 20px;
        background-repeat: no-repeat;
        flex-shrink: 0;
      }
    }
  }
  .description {
    // max-width: unset;
    font-size: 16px;
    p {
      margin: 0 0 20px;
    }
    .citation {
      margin-left: 40px;
      font-style: italic;
    }
    > h3:first-of-type {
      margin-top: 0;
    }
  }
  button {
    margin: 20px 0;
  }

  table {
    font-size: 16px;
    color: #333;
  }
  hr {
    border-color: #ccc;
  }

  table {
    margin-top: 50px;
    tr {
      height: 50px;
    }
    tr:first-child {
      font-weight: 600;
      background: $primary-dark-blue;
      color: white;
    }
    tr:not(:first-child) {
      border-bottom: 1px solid $primary-dark-blue;
      &:nth-child(odd) {
        background: #f5f5f5;
      }
    }
    td {
      min-width: 200px;
      padding: 5px;
      &.banded {
        background: #f5f5f5;
      }
    }
    &.submitForm {
      td {
        background-color: white;
        color: black;
      }
      tr {
        border: none;
      }
    }
  }

  table:not(.submitForm) {
    th,
    td {
      padding: 10px 20px;
    }
  }
  form {
    display: none;
  }
  .success,
  .error {
    font-weight: bold;
  }
  .success {
    color: $value-green;
  }
  .error {
    color: $value-red;
  }
}
