@import "../../../assets/styles/colors.scss";

.donut {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  div.label {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 10px;
    max-width: 200px;
    text-align: center;
  }
  .donutChart {
    height: auto;
    width: auto;
  }
}
