@import "../../../assets/styles/colors.scss";
.invisible {
  display: none;
}
.tooltipLine {
  line.visible {
    opacity: 1;
  }
}
.drawn {
  width: 0 !important;
  height: auto !important;
}

.area {
  fill: none;
  opacity: 0.5;
}

.lineValue .line {
  fill: none;
  stroke-width: 2px;
}

.lineValue.series-0 {
  .line {
    stroke: green;
    stroke-dasharray: none;
    stroke-width: 3px;
  }
}
.lineValue {
  .line {
    stroke: blue;
    stroke-dasharray: 3, 3;
  }
}

.x-axis,
.x-axis-2,
.y-axis,
.y-axis-right {
  > path {
    display: none;
  }
  path,
  line {
    stroke: #6d6e70;
  }
  g > line {
    stroke: #ccc;
  }
  text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    fill: $dark-grey;
  }
  .label {
    font-family: "open_sanssemibold", sans-serif;
    font-weight: 600;
    text-align: center;
    fill: $dark-grey;
    text-anchor: middle;
    font-size: 1.55em;
  }
}

.pointValue circle {
  fill: white;
  stroke: gray;
  stroke-width: 3px;
  display: none;
}
.pointValue.series-0 circle {
  display: block;
}

.y-axis-right .label {
  fill: $dark-grey;
  transform: rotate(90deg) !important;
}
.y-axis .label {
  transform: rotate(-90deg);
}

.overlayRect {
  fill: white;
  opacity: 0.5;
  .overlayRect-1 {
    fill: white;
  }
  .overlayRect-2 {
    fill: white;
  }
}

.tooltipLine {
  stroke: $grey;
  stroke-width: 2px;
  // transform: translateX(.5px);
  line {
    opacity: 0;
    transition: opacity 0.5s;
  }
}

.legend {
  font-size: 0.9em;
  float: right;
  td {
    padding: 0 5px;
  }
}
