@import "../../../../../assets/styles/colors.scss";
.orgs {
  margin-top: 20px;
  .hide {
    display: none;
  }
  .tables {
    display: flex;
    flex-flow: row;
    > div {
      margin: 0 10px;
      width: 100%;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .menu {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 20px;
  }
}
