@import "../../../../../assets/styles/colors.scss";
.orgs {
  margin-top: 20px;

  .subtitle {
    @include subtitle;
  }
  .content {
    display: flex;
    flex-flow: column;
  }
  .hide {
    display: none;
  }
  .tables {
    display: flex;
    flex-flow: row;
    table {
      // No wrapping col labels on this page.
      th[role="columnheader"] {
        white-space: nowrap;
      }

      td,
      tr {
        color: black;
        &:hover {
          transition-timing-function: linear;
          transition: background 125ms, outline 125ms;
          td {
            background-color: #f9f9f9;
            transition-timing-function: linear;
            transition: background-color 125ms, border-color 125ms,
              font-weight 125ms;
          }
        }
      }
    }
    > div {
      margin: 0 10px;
      width: 100%;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .menu {
    display: flex;
    flex-flow: column;
    margin: 20px 0 10px;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 900px;
    .filterBadges {
      font-weight: bold;
      margin: 20px 0 5px;
    }
    .subtitle {
      margin-top: 0;
      margin-bottom: 20px;
    }
    .menuContent {
      justify-content: space-between;

      > div:last-child {
        margin-right: 15px;
      }
      > div {
        margin-bottom: 20px;
      }
      display: flex;
      flex-flow: row;
    }
  }
}
