@import "../../../../assets/styles/colors.scss";
.detailsSection {
  .content {
    margin: 10px 0;
    display: flex;
    flex-flow: column;
  }
  h2 {
    font-size: 21px;
    font-weight: 600;
  }
  form {
    display: flex;
    flex-flow: column;
  }
  label {
    font-weight: normal;
    width: max-content;
  }
  input {
    margin-right: 5px;
  }
  &:first-child {
    h2 {
      margin-top: 0;
    }
  }
  .text {
    margin-bottom: 10px;
    max-width: 700px;
  }
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  &:first-child {
    border: none;
  }
  &:last-child {
    border-bottom: none;
  }
  &:not(:first-child):not(:last-child) {
    border-bottom: none;
  }
  &:first-child:last-child {
    border: none;
  }
}
