@import "../../../assets/styles/colors.scss";

.totalByFlowType {
  padding: 10px 0;

  &.inline {
    padding: 0;
    margin: 10px 0;
    &:not(:first-child) {
      padding-left: 40px;
    }
    &:not(:last-child) {
      padding-right: 40px;
      border-right: 1px solid #ccc;
    }
  }

  .value {
    font-family: "RawlineRegular", serif;
    font-weight: 800;
    font-size: 30.8px;
    &.unknown {
      font-size: 2em;
    }
    // white-space: nowrap;
  }
  .label {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
