@import "../../../../assets/styles/colors.scss";
.eventBars {
  .bars {
    height: auto;
    g[class^="tick"] > text {
      font-size: 14px;
      font-family: "open_sanssemibold", sans-serif;
      a {
        fill: $outbreak-blue-2;
      }
    }
    image {
      display: none;
    }
  }
}
