@import "../../../../assets/styles/colors.scss";
.eventBars {
  // loading
  display: grid;
  &.two {
    grid-template-columns: 3fr 1fr;
  }
  &.one {
    grid-template-columns: 1fr;
  }
  &.shown {
    opacity: 1;
    transition: 0.5s all;
  }
  &:not(.shown) {
    opacity: 0;
    transition: 0.5s all;
  }
  > div {
    height: auto;
    width: 100%;

    .bars,
    .impacts {
      height: auto;
      width: 100%;
      g[class^="tick"] > text {
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        a {
          font-family: "open_sanssemibold", sans-serif;
          fill: $outbreak-blue-2;
        }
      }
      circle {
        fill: $outbreak-blue-2;
        z-index: 100;
      }
      image {
        display: none;
      }
    }
  }
}
