@import "../../../assets/styles/colors.scss";

.search {
  .searchBar {
    &.expanded .field {
      input {
        width: 240px;
        transition: 0.5s all;
      }
      border: none;
      padding: 5px;
      border: 1px solid $grey;
    }
    .field {
      display: flex;
      flex-flow: row;
      border-radius: $border-radius;

      i {
        color: $grey;
        cursor: pointer;
        &:hover {
          color: darken($grey, 10%);
        }
      }
      input,
      input::placeholder {
        transition: 0.5s all;
        cursor: text !important;
        width: 0;
        outline: none;
        border: none;
        font-size: 1em;
        color: gray;
        font-family: "Open Sans", sans-serif;
      }
    }
  }
  .results {
    flex-flow: column;
    width: 275px;
    position: absolute;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);

    a,
    a:hover {
      text-decoration: none;
    }
    .result {
      padding: 10px;
      color: black;
      .name {
        height: auto;
        font-weight: bold;
      }
      .type {
        height: auto;
        font-style: italic;
        text-transform: capitalize;
      }
      &:not(.noResult):hover {
        background-color: #f3f3f3;
        cursor: pointer;
      }
    }
  }
}
