@import "../../../assets/styles/colors.scss";

.search {
  font-size: 16px; // base font size
  max-width: 290px;
  position: relative;

  &.wide {
    max-width: unset;
    width: 100%;
  }

  &:not(.allowAnimation) * {
    transition: none !important;
  }

  .searchBar {
    &.expandedByDefault .field i {
      cursor: default;
      &:hover {
        color: inherit;
      }
    }
    &.expanded .field {
      input {
        width: 270px;
        transition: 0.5s width;
      }
      border: none;
      padding: 5px;
      border: 1px solid $black;
    }
    &.dark .field {
      border: 1px solid #eee;
    }
    .field {
      display: flex;
      flex-flow: row;
      border-radius: $border-radius;

      i {
        color: $black;
        cursor: pointer;
        &:hover {
          color: darken($grey, 10%);
        }
      }

      input {
        transition: 0.5s width;
        cursor: text !important;
        width: 0;
        outline: none;
        border: none;
        font-size: 0.925em;
        color: lighten($black, 30%);
        font-family: "Open Sans", sans-serif;
      }
    }
  }
  .results {
    flex-flow: column;
    width: 100%;

    position: absolute;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
    z-index: 1000;
    > a {
      margin: 0 !important;
    }
    &.dark {
      background-color: #222;
      // border: 1px solid #ccc;
      .result {
        &:not(.noResult):hover {
          background-color: lighten(#222, 10%);
        }
      }
    }

    a,
    a:hover {
      text-decoration: none;
    }
    .result {
      padding: 10px;
      color: #333;
      position: relative;
      .name {
        height: auto;
        font-weight: bold;
        white-space: normal;
      }
      .type {
        height: auto;
        font-style: italic;
        color: gray;
        white-space: normal;
      }
      &:not(.noResult):hover {
        background-color: #f3f3f3;
        cursor: pointer;
      }
    }
  }
  &.top .results {
    bottom: 40px;
  }
}
