@import "../../../assets/styles/colors.scss";
.badge {
  padding: 5px;
  border-radius: $border-radius;
  background-color: $funder-blue;
  width: min-content;
  white-space: nowrap;
}
.filterDropdown {
  * {
    opacity: 1;
  }
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  &.up {
    > div:last-child {
      > div:nth-child(2) {
        bottom: 40px;
      }
    }
  }
  > div:last-child {
    > div:nth-child(2) {
      // border-radius: 0 !important;
      border: 1px solid #ccc;

      div[id^="react-select-"] {
        & {
          &:hover {
            color: #333 !important;
          }
        }
      }

      // > div:nth-child(1) {
      //   > div:nth-child(2) {
      //     > div:nth-child(1) {
      //       :hover,
      //       :active,
      //       :focus {
      //         color: #333 !important;
      //       }
      //       color: green !important;
      //     }
      //   }
      // }
    }
  }
  &.dark {
    > div:last-child {
      > div:nth-child(2) {
        background-color: #222 !important;
        border-radius: 0 !important;
        border: 1px solid #ccc;
        > div:first-child {
          > div:nth-child(2),
          > div:first-child {
            &:focus,
            &:active,
            & {
              background-color: #222 !important;
            }
          }
        }
      }
    }
  }
}
