@import "../../assets/styles/colors.scss";

.radioToggle {
  form {
    display: flex;
    flex-flow: column;
  }
  label {
    font-weight: normal;
    color: black;
  }
  input {
    margin-right: 5px;
  }
}
