@import "../../assets/styles/colors.scss";

.radioToggle {
  > div {
    font-weight: bold;
    margin-bottom: 5px;
  }
  form {
    display: flex;
    flex-flow: column;
  }
  span:last-child label {
    margin-bottom: 0;
  }
  label {
    font-weight: normal;
    color: black;
    display: flex;
    flex-flow: row;
  }
  input {
    margin-right: 5px;
  }
  &.disabled {
    pointer-events: none;
    color: gray;
    input,
    label {
      color: gray;
    }
  }

  // Horizontal version
  &.horizontal {
    display: flex;
    flex-flow: row;
    > div {
      display: flex;
      flex-flow: row;
      white-space: nowrap;
    }
    form {
      display: flex;
      flex-flow: row;
      label {
        padding: 0 10px;
        width: max-content;
      }
    }
  }
}
