@import "src/assets/styles/colors.scss";
@media screen and (min-width: 813px) {
  .mobile {
    display: none;
  }
}
@media #{$phone} {
  .largeFlag,
  .home,
  .container,
  .browse,
  .search,
  .bookmarks,
  .contact {
    display: none;
  }
  .mobile {
    display: flex;
    align-items: center;
    padding: 10%;
    // min-height: calc(100vh - 100px - 150px);
    .disclaimer {
      font-size: 16px;
      line-height: 1.33;
      text-align: center;
    }
    // &.shiftDown {
    //   margin-top: 100px;
    // }
    p {
      font-size: 16px;
      &:not(:last-child) {
        margin-bottom: 5vw;
      }
    }
  }
}
