@import "src/assets/styles/colors.scss";
.subMenu {
    height: auto;
    position: relative;

    > div:first-child {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        cursor: default;

        span {
            margin: 0 !important;
        }
        i {
            width: 17px;
            margin-left: 10px;
        }
    }
    &.active > div:first-child {
        background-color: #f5f5f5;
        > span,
        > i {
            color: $selected-blue;
        }
        > span {
            font-family: "open_sanssemibold", sans-serif;
        }
    }
}
