@import "../../../assets/styles/colors.scss";

.ghsaButton {
  &:hover,
  &:focus {
    text-decoration: none;
  }
  padding: 5px 8px;
}
button.ghsaButton {
  color: $black;
  background-color: white !important;
  border: 1px solid $black !important;
  &.dark {
  }
  &:hover,
  &:focus {
    text-decoration: none;
    color: #52a8e6;
    background-color: darken($light-grey-3, 0%) !important;
  }
  span {
    &.active {
      font-weight: bold;
    }
  }
}
