@import "../../../../assets/styles/colors.scss";
.colList {
  .title {
    @include sectionTitle;
    margin-bottom: 10px;
    .topTenLabel {
      text-transform: none;
    }
  }
  .items {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    .itemCol {
      display: flex;
      flex-flow: column;
    }
  }
  .items > .itemCol > span,
  .globalCount {
    font-family: "open_sanssemibold", sans-serif;
    font-weight: 600;
    color: #125088;
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
  .globalCount {
    color: gray;
    .global {
      font-weight: 600;
    }
    .count {
      font-weight: normal;
      font-family: "Rawline", serif;
    }
  }
  .toggle {
    grid-column: 1/1;
    width: max-content;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    color: #125088;
    margin-bottom: 10px;
    float: right;
    &:hover {
      text-decoration: underline;
    }
  }
}
