@import "../../../assets/styles/colors.scss";

.pagination {
  display: flex;
  flex-flow: row;

  button {
    // margin-left: auto;
    // float: right;
    &.selected {
      background-color: $funder-blue;
      color: white;
    }
  }
}
