@import "../../../assets/styles/colors.scss";

.fundsByYear {
  display: flex;
  flex-flow: column;
  width: 100%;
  .areaLine {
    width: 100%;
  }
  .content {
    display: flex;
    flex-flow: row;
    .totals {
      display: flex;
      flex-flow: column;
    }
  }
}
