@import "../../../assets/styles/colors.scss";

.tableInstance {
  overflow-y: auto;
  overflow-x: hidden;

  table {
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }

  td,
  th {
    background-color: white;
  }
  th {
    text-align: left;
    vertical-align: middle;
    margin: auto 0;
    background-color: #f2f2f2;
  }

  // Mods to native styling
  [id="page-menu"] {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  [id="search-field"] {
    margin-bottom: 10px;
  }

  // Hide or show pagination controls
  &.noNativeSorting {
    [class^="sort-icon"] {
      display: none;
    }
  }
  &.noNativePaging {
    [class^="pagination"],
    [for="page-menu"],
    [id="page-menu"] {
      display: none;
    }
  }
  &.noNativePageSizeSelect {
    [for="page-menu"],
    [id="page-menu"] {
      display: none;
    }
  }
  &.noNativeSearch {
    [for="search-field"],
    [id="search-field"] {
      display: none;
    }
  }
}
