@import "../../../assets/styles/colors.scss";

.tableInstance {
  width: 100%;
  // max-width: 800px;
  td,
  th {
    background-color: white;
  }
  th {
    text-align: left;
    vertical-align: middle;
    margin: auto 0;
  }
}
