@import "../../../assets/styles/colors.scss";

// bootstrap overrides
[class*="table-bordered"] {
  border: unset;
}

.tableInstance {
  td,
  th {
    background-color: white;
    vertical-align: middle !important;
  }

  th {
    text-align: left;
    vertical-align: middle;
    margin: auto 0;
    background-color: #f2f2f2;
  }
  &.noColClick th {
    pointer-events: none;
  }

  // Pagination styling
  li,
  li[class="disabled"] {
    > a {
      color: #333;
      background-color: transparent;
      border: none;
    }
    &[class="disabled"] > a:hover {
      background-color: transparent;
    }
  }

  // Mods to native styling
  [id="page-menu"] {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  [id="search-field"] {
    margin-bottom: 10px;
  }

  // Hide or show pagination controls
  &.noNativeSorting {
    [class^="sort-icon"] {
      display: none;
    }
  }
  &.noNativePaging {
    [class^="pagination"],
    [for="page-menu"],
    [id="page-menu"] {
      display: none;
    }
  }
  &.noNativePageSizeSelect {
    [for="page-menu"],
    [id="page-menu"] {
      display: none;
    }
  }
  &.noNativeSearch {
    [for="search-field"],
    [id="search-field"] {
      display: none;
    }
  }
  &.origin th {
    background-color: $funder-green;
    color: white;
  }
  &.target th {
    background-color: $recipient-purple;
    color: white;
  }

  // &.noVerticalBorders {
  //   table {
  //     th,
  //     td {
  //       border-width: 0 0 1px 0 !important;
  //     }
  //   }
  // }

  // copied styles from smart table
  // table styling //
  table {
    border-collapse: separate;
    border-spacing: 0;
    tr {
      th,
      td {
        padding: 10px 20px;
        border: 1px solid #ddd;
        border-width: 1px 0;
      }
      td {
        background-color: white;
      }
      th {
        background-color: #efefef;
        border-bottom-width: 0;
        cursor: pointer;
      }

      // first table row styles
      &:first-child td {
        border-top: none;
      }

      // "except last" table row styles
      &:not(:last-child) td {
        border-bottom-width: 0;
      }

      // first and last col styles
      td,
      th {
        &:first-child {
          border-left-width: 1px;
        }
        &:last-child {
          border-right-width: 1px;
        }
      }
    }
  }
  // header row styling
  table tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }

  table tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }
}
