@import "src/assets/styles/colors.scss";

.entryContent {
    h3 {
        margin-top: 0;
        font-family: "rawline", serif;
        font-weight: 600;
    }
    .description {
        margin-bottom: 10px;
    }
    .actions {
        display: flex;
        flex-flow: column;
        @include spaceChildrenVert(10px);
    }
}
