@import "../../../../../assets/styles/colors.scss";

.menu {
  left: -1px;
  top: 30px;
  position: absolute;
  width: max-content;
  z-index: 1000;

  &.inSubMenu {
    max-width: 250px;
    left: calc(100% - 2px);
    top: 0;
    a {
      white-space: normal;
    }
  }

  .links {
    display: flex;
    flex-flow: column;

    > a,
    > section > div:first-child {
      color: $black;
      // background: #fff;
      text-decoration: none;
      padding: 10px;
      font-size: 0.9em;
      &:hover,
      &.active {
        background-color: #f5f5f5;
      }
    }
  }

  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  &.dark {
    background-color: #222;
    border: 1px solid #ccc;
    a,
    section > div:first-child {
      &:hover,
      &.active {
        background-color: #333;
      }
    }
  }
}

[class^="scrollbar-container"] {
  max-height: 400px; // TODO elegantly
}
[class="ps__rail-y"] {
  opacity: 0.6 !important;
}
[class="ps__rail-x"] {
  display: none;
}
