@import "src/assets/styles/colors.scss";

.tooltip {
  opacity: 1 !important;
  pointer-events: visible !important;
  background-color: transparent !important;
  &::after {
    display: none;
  }
  .header {
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;

    > div {
      display: flex;
      flex-flow: row;
      padding: 10px;
      justify-content: flex-start;
      align-items: flex-start;

      > div {
        // padding: 10px;
        margin: 0 5px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
          font-family: "Rawline", serif;
          font-size: 1.2em;
          line-height: 1.2;
        }
      }
    }
  }
  .content {
    padding: 10px;
  }

  &.simple {
    padding: 0;
    margin: 0;
    max-width: 300px;
  }
  // box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
  // -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.29);
  // &.dark {
  //   box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.29);
  //   -webkit-box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.29);
  // }
  &.fullTable {
    table {
      width: 100%;
      tbody {
        tr {
          border-bottom: 1px solid #ccc;
          &:last-child {
            border-bottom: none;
          }
        }
      }

      td {
        font-weight: normal !important;
      }
      th {
        padding-right: 30px;
      }
      thead {
        tr {
          th:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
  table {
    td:first-child {
      font-weight: bold;
      padding-right: 5px;
    }
    td {
      vertical-align: top;
    }
    td {
      padding: 2px 0;
    }
  }
  max-width: 500px;
}

.hide,
.tooltip.hide {
  opacity: 0 !important;
  &,
  * {
    pointer-events: visible !important;
  }
  background-color: transparent !important;
  // visibility: hidden !important;
  // display: none !important;
  * {
    color: red !important;
  }
}
