@import "../../../assets/styles/colors.scss";
.region,
.subregion,
.entity {
  fill: auto;
  path.selected {
    stroke: yellow;
    stroke-width: 4px;
  }
}
.entity {
  path {
    cursor: pointer;
  }
}
.flows {
  path {
    fill: rgb(5, 48, 97);
    fill-opacity: 0.3;
    stroke: none;
    &:hover {
      fill-opacity: 0.8;
    }
    &.hidden {
      display: none;
    }
  }
}
.textCircle,
.textCircleRev {
  fill: none;
}
.regionLabel {
  text-anchor: middle;
  font-size: 1.1em;
  font-weight: 600;
}
