@import "../../../assets/styles/colors.scss";

$button-width: 250px;
$button-font-size: 16px;
$spacing: 10px;

.footer {
  width: 100%;
  border-top: 1px $grey solid;
  background-color: white;
  &.dark {
    background-color: $dark-background-color;
    .content {
      div:first-child {
        color: #999999 !important;
      }
    }
  }

  &.wide .content {
    max-width: 1366px;
  }
  .content {
    max-width: 1170px;
  }

  $item-spacing: 30px;
  .content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;

    min-height: 70px;
    padding: 20px 0;
    margin: 0 auto;
    div:first-child {
      font-style: italic;
      font-family: "Open Sans", sans-serif;
      color: #999999;
      font-size: 16px;
    }

    img {
      height: 70px;
      padding: 0 $item-spacing;
    }

    a:first-child:not(:last-child) img {
      border-right: 1px solid $grey;
    }
    a:last-child img {
      padding-right: 0;
    }
    a {
      position: relative;
      > div {
        position: absolute;
        top: -25px;
        left: $item-spacing;
        font-size: 0.9em;
        pointer-events: none;
        color: #333;
      }
    }
  }
}
