@import "../../../assets/styles/colors.scss";

$phone: "screen and (max-width : 812px)";
$phone-narrow: "screen and (max-width : 550px)";
.footer {
  height: 90px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $black;
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    .links {
      display: flex;
      flex-direction: row;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        &:not(:last-child) {
          border-right: 1px solid $black;
        }
        &:first-child {
          padding-left: 0px;
        }
        &:nth-child(2) {
          //bump the height of GU logo slightly
          img {
            height: 50px;
          }
        }
        &.talusLogo {
          position: relative;
          .builtBy {
            font-family: "Raleway", sans-serif;
            font-size: 9px;
            font-weight: 600;
            color: #404041;
            position: absolute;
            left: 40px;
            top: 0px;
            @media #{$phone-narrow} {
              display: none;
            }
          }
        }
      }
      img {
        height: 40px;
      }
    }
    .dataAsOf {
      font-style: italic;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      color: $gray-2;
      margin: auto 0;
    }
  }
  &.wide .content {
    max-width: 1366px;
  }
  &.dark {
    background-color: $dark-background-color;
    border-top: 1px solid #999999;
    .content {
      .dataAsOf {
        color: #999999 !important;
      }
      .links {
        a {
          &:not(:last-child) {
            border-right: 1px solid #999999;
          }
        }
      }
    }
  }
  @media #{$phone-narrow} {
    height: unset;
    margin-top: 40px;
    padding: 10px 0px;
    .content {
      flex-direction: column;
      a {
        &:not(:last-child) {
          border-right: 0px solid $black;
        }
      }
      img {
        height: 70px;
        padding: 10px 0px;
      }
    }
  }
}
