@import "../../../../assets/styles/colors.scss";
.sankey {
  @include spaceChildrenVert(30px);
  > :empty {
    margin: 0;
  }
  .dropdowns {
    > div {
      margin: 0;
    }
  }
  .chart {
    width: 100%;
    height: 500px;
    svg {
      // nodes and links
      rect,
      path {
        fill: $outbreak-gray-3;
      }
      // nodes
      rect {
        &.highlighted {
          fill: $outbreak-blue-2;
        }
      }
      // links
      g {
        z-index: 0;
        path {
          opacity: 0.5;
          z-index: -1;
          &.highlighted {
            z-index: 1;
            fill: $outbreak-blue-3;
            opacity: 0.7;
          }
          &:hover {
            stroke: $outbreak-gray-3;
            stroke-width: 1px;
          }
        }
      }

      // labels
      g.origin text {
        text-anchor: end;
      }
      g.origin,
      g.target {
        &.hidden {
          display: none;
        }
      }
    }
  }
  .noDataMessage {
    position: static;
  }
  .sortButtons {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: space-between;
    .sortButton {
      img {
        $size: 20px;
        height: $size;
        width: $size;
      }
    }
    .title {
      text-align: center;
    }
  }
}
