@import "../../../assets/styles/colors.scss";

.checkbox {
  > div {
    font-weight: bold;
  }
  form {
    display: flex;
    flex-flow: column;
  }
  label {
    font-weight: normal;
    color: black;
    display: flex;
    flex-flow: row;
    white-space: normal;
  }
  input {
    margin-right: 5px;
  }
}
