@import "../../assets/styles/colors.scss";
.overlay {
  rect {
    fill: none;
  }
}
.countries {
  g {
    path.country {
      fill: #ccc;
      stroke: #000;
      stroke-width: 0.5px;
      cursor: pointer;
      &.hatched {
        mask: url(#mask-stripe);
      }
      &:hover {
        stroke: #a9c9f9;
      }
    }
    &.active {
      path {
        stroke: #3b88fd;
        filter: url("#dropShadowCountry");
      }
    }
    path.boundary {
      stroke: none;
      fill: none;
    }
  }
}
