@import "../../assets/styles/colors.scss";
.overlay {
  rect {
    fill: none;
  }
}
.countries {
  g {
    path.country {
      fill: #cccccc;
      stroke: #333333;
      stroke-width: 0.5px;
    }
    path.boundary {
      stroke: none;
      fill: none;
    }
  }
}
