@import "src/assets/styles/colors.scss";
.events {
  .title {
    @include title;
  }
  .intro {
    @include intro;
  }
  .instructions {
    @include instructions;
    margin-bottom: 20px;
  }
  article {
    font-size: 16px;
    p,
    ul {
      margin-bottom: 20px;
    }
    ul {
      line-height: 30px;
      // @include spaceChildrenVert(5px);
    }
  }
}
