@import "./assets/styles/colors.scss";
// $alert-height: 60px;
$logo-height: 70px;
// p,
// h1 {
//   margin-left: 15px;
// }
// h1 {
//   margin-bottom: 0;
// }
.loadingSpinner {
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-size: 3em;

  > div {
    opacity: 0;
    color: darken(white, 10%);
  }

  img {
    margin-right: -20px;
    opacity: 0;
  }
  > div,
  > img {
    transition: all 0.5s;
  }
  transition: all 0.5s;

  &.on {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    > div,
    > img {
      transition: all 0.5s;
      opacity: 1 !important;
    }
  }
}
.app {
  display: grid;
  grid-template-columns: auto; // ensures header resizes correctly if window size is changed
  // Subtract header and foot from main content
  grid-template-rows: 80px minmax(calc(100vh - 80px - 95px), auto);

  &.windowed {
    height: 100%;
    > div:nth-child(2) > div {
      height: 100% !important;
      width: 100% !important;
    }
  }

  @media #{$phone} {
    * {
      max-width: $phone-width;
    }
  }
}

.watermark {
  background-image: url("./assets/images/watermark/watermark-med.png");
  background-color: transparent;
  opacity: 0.3;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 600;
  pointer-events: none;
  top: -30px;
}

$spacing: 15px;
.modal {
  padding: $spacing;
  border-radius: 0;
  .header {
    font-family: "rawline", serif;
    font-size: 2.19em;
    font-weight: bold;
    line-height: 1.1;
    color: #132338;
    padding-bottom: $spacing * 2;
    border-bottom: 2px solid #6d6e70;
  }
  .content {
    .text {
      font-family: "Gotham Book", sans-serif;
      font-size: 1.19em;
      line-height: 1.5;
      p {
        margin: $spacing * 2 0;
      }
    }
    .button {
      // See index.scss
    }
  }
}
