@import "./assets/styles/colors.scss";

html,
body,
#root {
  // Handle dark mode
  // TODO finish the CSS for this.
  .dark {
    background-color: $dark-background-color;
    color: $dark-color;
    * {
      color: $dark-color;
    }
    button {
      background-color: $dark-grey;
    }
  }

  width: 100%;
  margin: 0;
  input[type="radio"] {
    top: -2px;
    position: relative;
  }
  .pageContainer {
    padding: 20px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    &.noPadding {
      padding: 0;
    }
  }

  // DataTables global styling
  .tableInstance {
    // Empty cells --> data NA
    td:empty::after {
      content: "n/a";
      color: $grey;
      font-style: italic;
    }

    // Search bar
    [for="search-field"] {
      margin-right: 10px;
    }

    [for="search-field"],
    #search-field {
      margin-left: auto;
    }

    table {
      margin-top: 10px;
    }

    // If no paging, hide the relevant elements
    &.noPaging {
      #page-menu,
      .pagination.pull-right,
      [for="page-menu"] {
        display: none;
      }
    }
  }
}

@import "../node_modules/react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "./assets/styles/fonts.css";
@import "./assets/styles/global.scss";
@import "./assets/styles/react-select-search.scss";
