@import "./assets/styles/colors.scss";

html,
body,
#root {
  > div {
    > div:nth-child(2) {
      // min-height: 80vh;
    }
  }
  .placeholder {
    min-height: 81vh;
  }

  // Handle dark mode
  // TODO finish the CSS for this.
  .dark {
    background-color: $dark-background-color !important;
    span.control {
      color: #333;
    }
    .__react_component_tooltip.type-light.place-top:after {
      border-top-color: $dark-background-color;
    }
    color: $dark-color;
    * {
      color: $dark-color;
      &.dark-bg-allowed {
        background-color: $dark-background-color;
      }
    }
    button {
      background-color: $dark-grey;
    }
  }

  width: 100%;
  margin: 0;
  input[type="radio"] {
    top: -2px;
    position: relative;
  }
  .pageContainer {
    padding: 20px 0;
    width: 100%;
    max-width: 1170px;
    &.wide {
      max-width: 1366px;
      height: 100%;
      min-height: unset;
    }
    margin: 0 auto;
    &.noPadding {
      padding: 0;
    }
  }

  // DataTables global styling
  .tableInstance {
    .table {
      margin: 0;
      padding: 0;
    }
    .container {
      margin: 0;
      padding: 0;
      width: unset !important;
      .row {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: flex-end;

        // bootstrap components
        [class^="col"] {
          display: flex;
          flex-flow: column;
          justify-content: flex-end;
          &:first-child {
            align-items: flex-start;
            input {
              margin-bottom: 10px; // search field
            }
          }
          &:last-child {
            align-items: flex-end;
            ul {
              margin: 0 0 10px; // pagination buttons
            }
          }
        }
      }
    }
    // Empty cells --> data NA
    td:empty::after {
      content: "n/a";
      color: $grey;
      font-style: italic;
    }

    // Search bar
    [for="search-field"] {
      margin-right: 10px;
    }

    [for="search-field"],
    #search-field {
      margin-left: auto;
    }

    table {
      margin-top: 10px;
    }

    // If no paging, hide the relevant elements
    &.noPaging {
      #page-menu,
      .pagination.pull-right,
      [for="page-menu"] {
        display: none;
      }
    }
  }
}

@import "../node_modules/react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "./assets/styles/fonts.css";
@import "./assets/styles/global.scss";
@import "./assets/styles/react-select-search.scss";
