@import "./src/assets/styles/colors.scss";

html,
body,
#root {
  .placeholder {
    min-height: $min-content-height;
  }

  .normal {
    font-size: $font-size;
    font-weight: normal;
    font-family: "Open Sans", sans;
    color: $font-color;
  }

  // table sort icons from bootstrap
  .sort-ascending,
  .sort-descending {
    &::after {
      color: #337ab7;
    }
  }

  // Cookie consent styling
  .cc-floating {
    &.cc-window {
      .cc-compliance {
        .cc-btn {
          border: 2px solid #023f88;
          background: linear-gradient(180deg, rgba(2, 63, 136, 0.85) 0%, #023f88 100%);
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 600;
          &:hover {
            background: white;
            color: #023f88;
            border: 2px solid #023f88;
          }
          &:active {
            box-shadow: 5px 5px 15px 0 #b3b3b3;
            -webkit-box-shadow: 5px 5px 15px 0 #b3b3b3;
          }
        }
      }
    }
  }

  .popup-overlay {
    z-index: 1001 !important;

    @media only screen and (max-width: 600px) {
      .popup-content {
        width: 90vw !important;
      }
    }
  }

  // Handle dark mode
  // TODO finish the CSS for this.
  .dark {
    background-color: $dark-background-color !important;
    span.control {
      color: #333;
    }
    .__react_component_tooltip.type-light.place-top:after {
      border-top-color: $dark-background-color;
    }
    color: $dark-color;
    * {
      color: $dark-color;
      &.dark-bg-allowed {
        background-color: $dark-background-color;
      }
    }
    button {
      background-color: $dark-grey;
    }
  }

  width: 100%;
  margin: 0;
  input[type="radio"] {
    top: -2px;
    position: relative;
  }
  .pageContainer {
    padding: 20px 0;
    width: 100%;
    max-width: 1170px;
    &.wide {
      max-width: unset;
      height: 100%;
      min-height: unset;
      padding: 20px;
    }
    margin: 0 auto;
    &.noPadding {
      padding: 0;
    }
  }

  // DataTables global styling
  .tableInstance {
    .table {
      margin: 0;
      padding: 0;
    }
    .container {
      margin: 0;
      padding: 0;
      width: unset !important;
      .row {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: flex-end;

        // bootstrap components
        [class^="col"] {
          display: flex;
          flex-flow: column;
          justify-content: flex-end;
          &:first-child {
            align-items: flex-start;
            input {
              margin-bottom: 10px; // search field
            }
          }
          &:last-child {
            align-items: flex-end;
            ul {
              margin: 0 0 10px; // pagination buttons
            }
          }
        }
      }
    }
    // Empty cells --> data NA
    td:empty::after {
      content: "n/a";
      color: $grey;
      font-style: italic;
    }

    // Search bar
    [for="search-field"] {
      display: none;
    }

    [for="search-field"],
    input#search-field {
      margin-left: auto;
    }
    input#search-field {
      padding: 5px;
      border: 1px solid $gray-2;
      border-radius: 5px;
      &::placeholder {
        font-style: italic;
      }
    }

    table {
      margin-top: 10px;
    }

    // If no paging, hide the relevant elements
    &.noPaging {
      #page-menu,
      .pagination.pull-right,
      [for="page-menu"] {
        display: none;
      }
    }
  }

  // Universal table cell styles
  // Ensure currency amounts are decimal-aligned and do not wrap
  td.num {
    text-align: right;
    white-space: nowrap;
  }
  td.num-with-text,
  td.empty-cell {
    text-align: right;
  }

  // Flex styling
  .flexrow {
    display: flex;
  }
  .flexrow + div {
    margin-top: 10px;
  }
}

@import "../node_modules/react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "./assets/styles/fonts.css";
@import "./assets/styles/global.scss";
@import "./assets/styles/react-select-search.scss";
