@import "src/assets/styles/colors.scss";
.infoBox {
  display: none;
  flex-flow: column;
  border: 1px solid #ccc;
  width: 100%;
  opacity: 0;
  &.revealed {
    opacity: 1;
    transition: opacity 0.25s;
  }
  &.show {
    display: flex;
  }
  .header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 10px;
    line-height: 1.2em;
    font-size: 1.4em;
    text-align: left;

    div {
      color: white;
    }
    &.darkFont div {
      color: black !important;
    }
  }
  .content {
    display: flex;
    flex-flow: column;
    padding: 10px;
    font-size: 18px;
    // min-height: 150px;
    justify-content: space-between;
    background-color: white;
    .score {
      margin-bottom: 10px;
    }
    .unknownValuesMessage {
      line-height: 1.1;
      div:last-child {
        font-size: 0.7em;
        margin-top: 10px;
      }
    }
    &.dark {
      background-color: #222;
    }
    > div {
      display: flex;
      flex-flow: row;
      .flowValues {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        margin-right: 10px;

        div:first-child {
          font-family: "rawline", serif;
          margin-bottom: 10px;
          line-height: 1;
        }
        div:last-child {
          font-size: 0.7em;
        }
      }
    }
    a {
      position: relative;
      margin-left: auto;
      font-size: 0.77em;
      margin-top: 15px;
    }
  }

  // DARK MODE SETTINGS
  &.dark {
    .content {
      background-color: #222;
    }
  }
}
