@import "../../assets/styles/colors.scss";
.infoBox {
  display: none;
  flex-flow: column;
  border: 1px solid #666666;
  width: 25%;
  &.show {
    display: flex;
  }
  .header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    padding: 7px 50px 7px 11px;
    line-height: 1.2em;
    font-size: 1.4em;
    text-align: left;

    div {
      color: white;
    }
    &.darkFont div {
      color: black !important;
    }
  }
  .content {
    display: flex;
    flex-flow: column;
    a {
      position: relative;
      margin-left: auto;
    }
  }
}
