@import "../../assets/styles/colors.scss";
.infoBox {
  display: none;
  flex-flow: column;
  border: 1px solid #666666;
  width: 25%;
  &.show {
    display: flex;
  }
  .header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: top;

    padding: 10px;
    line-height: 1.2em;
    font-size: 1.4em;
    text-align: left;

    div {
      color: white;
    }
    &.darkFont div {
      color: black !important;
    }
  }
  .content {
    display: flex;
    flex-flow: column;
    padding: 10px;
    font-size: 18px;
    min-height: 150px;
    justify-content: space-between;
    > div {
      display: flex;
      flex-flow: row;
      .flowValues {
        display: flex;
        flex-flow: column;
        margin-right: 10px;

        div:first-child {
          font-family: "rawline", serif;
          margin-bottom: 10px;
        }
        div:last-child {
          font-size: 0.66em;
        }
      }
    }
    a {
      position: relative;
      margin-left: auto;
      font-size: 0.77em;
      margin-top: 15px;
    }
  }
}
