@import "../../assets/styles/colors.scss";
.legend {
  .toggle {
    &:not(.flip) span {
      transform: rotate(180deg);
    }
    button {
      border-bottom: none;
      span {
        // font-size: 2em !important;
        margin: 0 10px;
      }
      border-radius: $border-radius $border-radius 0 0;
    }
  }
  .content {
    display: none;
    flex-flow: column;
    border: 1px solid #ccc;
    padding: 10px 30px;
    background-color: white;
    opacity: 0.8;
    &.show {
      display: flex;
    }
    > div:first-child {
      margin-bottom: 10px;
    }
  }
  .entries {
    display: flex;
    flex-flow: row;
    .entry {
      $rect-height: 15px;
      $rect-width: $rect-height * 4;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;

      &.scaleOrdinal {
        margin-bottom: $rect-height;
        .bucket {
          margin: 0 20px;
          align-items: center;
          .label {
            left: unset;
            margin-top: $rect-height;
            position: absolute;
          }
        }
      }

      &.binary {
        line-height: 1.2;
        .label {
          margin-top: 2px;
        }
        .bucket:first-child {
          .label {
            text-align: left;
            left: unset;
          }
        }
        .bucket:last-child {
          .label {
            text-align: right;
            left: unset;
          }
        }
      }

      .bucket {
        width: auto;
        display: flex;
        flex-flow: column;
        position: relative;

        &.init {
          width: 0;
          .rect {
            width: 0;
          }
          .label {
            left: 50%;
          }
        }

        .rect {
          width: $rect-width;
          height: $rect-height;
        }
        .label {
          // line-height: 1.2;
          text-align: center;
          position: relative;
          left: $rect-width / 2;
          // left: 0;
        }
      }
    }
  }
}
