@import "../../assets/styles/colors.scss";
.legend {
  .toggle {
    &:not(.flip) span {
      transform: rotate(180deg);
    }
    button {
      border-bottom: none;
      span {
        // font-size: 2em !important;
        margin: 0 10px;
      }
      border-radius: $border-radius $border-radius 0 0;
    }
  }
  .content {
    display: none;
    flex-flow: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px 30px;
    background-color: white;
    opacity: 0.95;
    &.show {
      display: flex;
    }
    > div:first-child {
      margin-bottom: 10px;
      font-size: 1.1em;
    }
  }
  .entries {
    $rect-height: 15px;
    $rect-width: $rect-height * 4;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    .entry {
      &.unspec {
        .bucket {
          display: flex;
          flex-flow: column;
          align-items: center;
        }
        &:first-child {
          margin-right: 30px;
        }
        &:last-child {
          margin-left: 30px;
        }
        svg {
          height: $rect-height;
          width: $rect-width;
          rect {
            height: $rect-height;
            width: $rect-width;
            mask: url(#mask-stripe);
            fill: #ccc;
          }
        }
        // .rect {
        //   // mask: url(#mask-stripe);
        //   background-color: #ccc;
        // }
        .label {
          left: 0 !important;
        }
      }

      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;

      &.scaleOrdinal {
        margin-bottom: $rect-height;
        .bucket {
          margin: 0 20px;
          align-items: center;
          .label {
            left: unset;
            margin-top: $rect-height;
            position: absolute;
          }
        }
      }

      &.binary {
        line-height: 1.2;
        .label {
          margin-top: 2px;
        }
        .bucket:first-child {
          .label {
            text-align: left;
            left: unset;
          }
        }
        .bucket:last-child {
          .label {
            text-align: right;
            left: unset;
          }
        }
      }

      .bucket {
        width: auto;
        display: flex;
        flex-flow: column;
        position: relative;

        &.init {
          width: 0;
          .rect {
            width: 0;
          }
          .label {
            left: 50%;
          }
        }

        .rect {
          width: $rect-width;
          height: $rect-height;
        }
        .label {
          // line-height: 1.2;
          text-align: center;
          position: relative;
          left: $rect-width / 2;
          // left: 0;
        }
      }
    }
  }
}
