$white: #fff;
$light-grey: #c8c8ce;
$light-grey-2: #e6e6e6;
$light-grey-3: #f2f2f2;
$grey: #b2b2b2;
$red: #eb1c25;
$yellow: #f9c13b;
$green: #009a65;
$alert-yellow: #fdd900;
$dark-blue: #23385e;
$dark-grey: #333333;
$no-data-gray: #b3b3b3;
$selected-blue: #449fb7;
$data-blue: #5781ab;
$dark-grey-2: #4d4d4d;

$font-size: 16px;
$font-color: $dark-grey;

$recipient-red: #67001f;
$funder-blue: #053061;

// GIDA SPECIFIC
$dark-background-color: #333;
$dark-color: #eeeeee;
$glowBorder: #3b88fd;

$critical: #e91b25;
$critical-light: #eda8ac;
$critical-translucent: rgba(235, 28, 37, 0.1);

$alerted: #f9be3c;
$alerted-light: #f7c96d;
$alerted-translucent: rgba(249, 190, 60, 0.1);

$stable: #029b67;
$stable-light: #3dc191;
$stable-translucent: rgba(2, 155, 103, 0.1);

$layout-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

$border-radius: 5px;

$value-red: #9d3e4c;
$value-red-2: #d65c68;
$value-green: #006837;

$btn-primary: #223442;

// JEE colors from GIDA
$jee-green: #006840;
$jee-green-light: #00995e;
$jee-yellow: #d28831;
$jee-yellow-light: #ecb97e;
$jee-red: #ac1329;
$jee-gray: #808080;

// Gradients
$light-blue-1: #87acd5;
$light-blue-2: #5697bf;
$light-blue-gradient-1: linear-gradient(
  0deg,
  $light-blue-2 0%,
  $light-blue-1 100%
);
$light-blue-gradient-2: linear-gradient(
  0deg,
  darken($light-blue-2, 15%) 0%,
  darken($light-blue-1, 15%) 100%
);
$light-blue-gradient-3: linear-gradient(
  0deg,
  darken($light-blue-2, 25%) 0%,
  darken($light-blue-1, 25%) 100%
);
$value-red-gradient: linear-gradient(90deg, #e6c1c6 0%, $value-red 100%);
$value-change-gradient: linear-gradient(
  90deg,
  $funder-blue 0%,
  $recipient-red 100%
);
$needs-met-gradient: linear-gradient(90deg, #32649f 0%, #def6d0 100%);
// $needs-met-gradient: linear-gradient(90deg, #32649f 0%, #e0eed8 100%);
// $value-change-gradient: linear-gradient(
//   90deg,
//   $value-green 0%,
//   white 50%,
//   $value-red 100%
// );

$loading-spinner-gradient: radial-gradient(
  circle at top right,
  white,
  rgba(255, 255, 255, 0.0001) 75%
);

// MEDIA QUERIES
$phone: "screen and (max-width : 670px)";
$phone-narrow: "screen and (max-width : 375px)";
// $phone: "screen and (max-width : 375px)";
$phone-width: 670px;
$phone-width-narrow: 375px;

@mixin title {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #11315d;
  font-family: "rawline", sans-serif;
}
@mixin subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 25px;
  color: #11315d;
  font-family: "rawline", sans-serif;

  display: flex;
  flex-flow: column;
  // align-items: center;
  svg {
    top: 5px;
  }
}

@mixin header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  min-height: 48px;
  &:not(:first-child) {
    margin-top: 20px;
  }
}

@mixin spaceChildrenHoriz($size) {
  > *:not(:last-child) {
    margin-right: $size;
  }
}
