@import "../../../assets/styles/colors.scss";

.nav {
  border-bottom: 1px $grey solid;
  padding: 15px 5px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1001;
  font-size: 16px;

  .content {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    img.logo {
      height: 70px;
    }
    .links {
      display: flex;
      flex-flow: row;
      color: #777;
      white-space: nowrap;
      span {
        margin-left: 5px;
      }
      > a,
      > div {
        margin: 0 20px;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
      }
      > a,
      > div > a {
        color: #777;
        &:hover:not(.active) {
          color: #52a8e6;
        }
        &:hover,
        &:focus {
          text-decoration: none;
        }
        &.active {
          font-weight: 600;
          border-bottom: 2px solid #777;
        }
      }
      align-items: center;
    }
  }
}
