@import "../../../assets/styles/colors.scss";

.nav {
  border-bottom: 1px $grey solid;
  padding: 5px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;

  .content {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    img {
      height: 70px;
    }
    .links {
      display: flex;
      flex-flow: row;
      > a,
      > div {
        padding: 0 20px;
      }
      align-items: center;
    }
  }
}
