@import "../../../assets/styles/colors.scss";

.nav {
  border-bottom: 1px $black solid;
  &.wide {
    padding: 20px;
  }
  &.dark {
    border-bottom: 1px solid #999999;
  }
  // padding: 15px 5px;
  padding: 20px 5px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1001;
  font-size: 16px;

  .content {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    img.logo {
      // height: 70px;
      height: 50px;
    }
    .links {
      display: flex;
      flex-flow: row;
      color: $black;
      white-space: nowrap;
      span {
        margin-left: 5px;
      }
      > a,
      > div {
        margin: 0 15px;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
      }
      > a,
      > div > a {
        color: $black;
        &:hover:not(.active) {
          color: $primary-light-blue;
        }
        &:hover,
        &:focus {
          text-decoration: none;
        }
        &.active {
          font-family: "open_sanssemibold", sans-serif;
        }
      }
      align-items: center;
    }
  }
}
