@import "../../../assets/styles/colors.scss";

.axis-label {
  font-size: 15.4px;
}
.fakeText,
.tick text,
.axis-label {
  font-family: "Open Sans", sans;
}
.fakeText,
.tick text {
  font-size: 14px;
}
.tick {
  text {
    cursor: default;
  }
}
.unscored {
  rect {
    fill: none !important;
    stroke: #333 !important;
  }
  text {
    fill: black !important;
  }
}
