@import "../../../assets/styles/colors.scss";

.fakeText {
  font-size: 12px;
}
.tick {
  text {
    font-size: 12px;
  }
}
.unscored {
  rect {
    fill: none !important;
    stroke: #333 !important;
  }
  text {
    fill: black !important;
  }
}
