@import "../../../assets/styles/colors.scss";

.stackbar {
  .stackBarChart {
    height: 500px;
    width: auto;
  }
  .stackBarTooltip {
    div {
      span:first-child {
        font-weight: bold;
      }
    }
    max-width: 300px;
  }
}
