@import "../../../assets/styles/colors.scss";

.stackbar {
  .stackBarChart {
    height: auto;
    width: auto;
  }
  .legendTitle {
    font-weight: 600;
    margin-bottom: 10px;
  }
  .legend {
    width: fit-content;
    padding: 10px;
    margin-top: 20px;
    transform: scale(0.85);
    transform-origin: left top;
  }
}
